<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Change Status Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body style="margin: 0;">
    <div
        style="width: 100%; background-image: url(https://sfp.laraveldevelopmentcompany.com/img/emailbg.png); background-repeat: no-repeat;background-position: top center; background-color: #f4f4f4;padding:0 0;font-family: Verdana,Geneva,sans-serif;">
        <div style="max-width: 600px;margin: auto;">
            <!-- top part -->
            <div>
                <div style="padding: 2.8em 0 10.5em;">
                    <table cellpadding="0" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td valign="middle" width="100%" style="text-align: center;vertical-align: middle;">
                                <img src="https://sfp.laraveldevelopmentcompany.com/img/logo.png" alt="logo"
                                    style="max-width:100%;">
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="background: #fff;padding: 0 0 1.2em;">
                    <div style="padding: 3.1em 0 1.8em;max-width: 580px;margin: auto;text-align: center;">
                        <p style="color: #000000;text-align: center;margin: 0 0 1.8rem;line-height: 1.2em;font-family: Verdana,Geneva,sans-serif;font-size: 24px; font-weight: 700; line-height: 28.8px; text-align: center;">
                            Status of Order # [Order Number]</p>
                        <p style="font-weight:400;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 480px;">
                            Dear [Customer's Name], </p>
                        <p style="font-weight:400;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 480px;">
                            We hope this email finds you well.</p>
                        <p style="font-weight:400;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 480px;">
                            We are writing to provide you with an update on the status of your recent order, # [Order Number], placed with [Your
                            Company Name] on [Order Date].</p>
                        <p style="font-weight:400;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto 0;max-width: 480px;">
                            Unfortunately, your order is currently in a pending processing status. We understand the importance of timely delivery
                            and sincerely apologize for any inconvenience this may cause.
                        </p>
                    </div>
                    <div
                        style="padding:1.8em 0 1.7em;max-width: 480px;margin: auto;text-align: left;border-bottom: 1px solid #dfdfdf;border-top: 1px solid #dfdfdf;">
                        <p style="font-weight:400;color: #2b2e46;font-size: 16px;margin: 0 0 1.5em;line-height: 24px;">
                            Please find below the details of your order:</p>
                        <div style="display: table;width: 100%;">
                            <div style="width: 40%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 500; line-height: 23px;">
                                    Order ID:</p>
                            </div>
                            <div style="width: 60%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px;">
                                    [Order Number]</p>
                            </div>
                        </div>
                        <div style="display: table;width: 100%;">
                            <div style="width: 40%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 500; line-height: 23px;">
                                    Product Name: </p>
                            </div>
                            <div style="width: 60%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px;">
                                    [Product Name]</p>
                            </div>
                        </div>
                        <div style="display: table;width: 100%;">
                            <div style="width: 40%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 500; line-height: 23px;">
                                    Quantity: </p>
                            </div>
                            <div style="width: 60%;float: left;">
                                <p
                                    style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px;">
                                    [Quantity]</p>
                            </div>
                        </div>
                        <div style="display: table;width: 100%;">
                            <div style="width: 40%;float: left;">
                                <p style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 500; line-height: 23px;">
                                    Price:  </p>
                            </div>
                            <div style="width: 60%;float: left;">
                                <p style="margin: 5px 0;color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px;">
                                    [Price]</p>
                            </div>
                        </div>
                    </div>
                    <div style="padding:2.2em 0 0;width: 100%; margin: auto;text-align: lefft;">
                        <p
                            style="color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 500px;">
                            Rest assured, our dedicated team is actively addressing this matter to expedite the processing of your order. Your
                            satisfaction is paramount to us, and we are committed to resolving this issue with the utmost urgency.</p>
                    </div>
                    <div style="padding:1em 0 0;width: 100%;margin: auto;text-align: left;">
                        <p
                            style="color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 500px;">
                            Should you have any questions or concerns regarding your order, please do not hesitate to contact our customer
                            support
                            team at [Customer Support Email/Phone Number]. We are here to assist you in any way we can.</p>
                    </div>
                    <div style="padding:1em 0 0;width: 100%;margin: auto;text-align: left;">
                        <p
                            style="color: #2b2e46; font-size: 16px; font-weight: 400; line-height: 23px; margin: 0 auto .8em;max-width: 500px;">
                            Thank you for your patience and understanding as we work to ensure a swift resolution. We greatly appreciate your
                            business and the opportunity to serve you.</p>
                    </div>
                    <div
                        style="padding:3em 0 0;width: 100%;margin: auto;text-align: left;max-width: 480px;font-size: 16px;line-height: 23px;color: #7f7f7f;">
                        Our Best,
                        <p style="color: #7f7f7f;  font-weight: bold;  margin: 0 auto 0;">SFP</p>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div style="text-align:center;padding: 20px 0;background-color: #8465FE;">
                <p
                    style="font-size:.9em;color:#fff;line-height: 1.5em;font-weight: 400;margin: 0 auto 0;max-width: 560px;padding: 0 0px;letter-spacing: 0.03em;">
                    © 2024 SFP.</p>
            </div>

        </div>
    </div>
</body>

</html>